# Exploring SQL database

### 1. Install dependencies and connect to DB

In [16]:
import os
from dotenv import load_dotenv
from corems.molecular_id.factory.molecularSQL import MolForm_SQL
from sqlalchemy import text

# Load environment variables from .env file
load_dotenv()

# Build database URL from environment variables
db_url = os.getenv("COREMS_DATABASE_URL")

print(f"Connecting to: {db_url}")

# Connect to database
sql = MolForm_SQL(url=db_url)

Connecting to: postgresql+psycopg2://coremsappuser:coremsapppnnl@molformdb:5432/coremsapp

In [17]:
try:
    # List all tables
    tables_result = sql.session.execute(
        text("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'")
    ).fetchall()
    
    print("Available tables:")
    for table in tables_result:
        print(f"  - {table[0]}")

except Exception as e:
    print(f"Error: {e}")

Available tables:
  - heteroAtoms
  - molecularformula
  - carbonHydrogen

There are over 3 million records in the database without P, and 4.5 million with P=1.

In [18]:
try:
    # Test connection
    result = sql.session.execute(text("SELECT COUNT(*) FROM molecularformula")).scalar()
    print(f"\nTotal number of molecular formulas: {result}")
except Exception as e:
    print(f"Error: {e}")

Total number of molecular formulas: 4510944

Each entry in the `molecularformula` table contains references to `heteroAtoms` and `carbonHydrogen` tables together with the molecules mass and DBE.

In [19]:
try:
    # Test connection
    MF_result = sql.session.execute(text('SELECT * FROM "molecularformula" LIMIT 10')).fetchall()

    print("First 10 molecular formulas:")
    for combination in MF_result:
        print(f"  - {dict(combination)}")
except Exception as e:
    print(f"Error: {e}")

First 10 molecular formulas:
  - {'heteroAtoms_id': 1, 'carbonHydrogen_id': 1, 'mass': 124.01202123562999, 'DBE': 1.0}
  - {'heteroAtoms_id': 1, 'carbonHydrogen_id': 3, 'mass': 126.02767130008999, 'DBE': 0.0}
  - {'heteroAtoms_id': 1, 'carbonHydrogen_id': 200, 'mass': 136.01202123563, 'DBE': 2.0}
  - {'heteroAtoms_id': 1, 'carbonHydrogen_id': 202, 'mass': 138.02767130009, 'DBE': 1.0}
  - {'heteroAtoms_id': 1, 'carbonHydrogen_id': 204, 'mass': 140.04332136455, 'DBE': 0.0}
  - {'heteroAtoms_id': 1, 'carbonHydrogen_id': 399, 'mass': 148.01202123563, 'DBE': 3.0}
  - {'heteroAtoms_id': 1, 'carbonHydrogen_id': 401, 'mass': 150.02767130009, 'DBE': 2.0}
  - {'heteroAtoms_id': 1, 'carbonHydrogen_id': 403, 'mass': 152.04332136455, 'DBE': 1.0}
  - {'heteroAtoms_id': 1, 'carbonHydrogen_id': 405, 'mass': 154.05897142901, 'DBE': 0.0}
  - {'heteroAtoms_id': 1, 'carbonHydrogen_id': 598, 'mass': 160.01202123563, 'DBE': 4.0}

Each Entry in the `carbonHydrogen` table contains an id, C number, and H number.

In [20]:
try:
    # Test connection
    CH_result = sql.session.execute(text('SELECT * FROM "carbonHydrogen" LIMIT 10')).fetchall()

    print("First 10 carbon-hydrogen combinations:")
    for combination in CH_result:
        print(f"  - {dict(combination)}")
except Exception as e:
    print(f"Error: {e}")

First 10 carbon-hydrogen combinations:
  - {'id': 1, 'C': 1, 'H': 4}
  - {'id': 2, 'C': 1, 'H': 5}
  - {'id': 3, 'C': 1, 'H': 6}
  - {'id': 4, 'C': 1, 'H': 7}
  - {'id': 5, 'C': 1, 'H': 8}
  - {'id': 6, 'C': 1, 'H': 9}
  - {'id': 7, 'C': 1, 'H': 10}
  - {'id': 8, 'C': 1, 'H': 11}
  - {'id': 9, 'C': 1, 'H': 12}
  - {'id': 10, 'C': 1, 'H': 13}

Each entry in the `heteroAtoms` table contains an id, dictionary of heteroatoms, and halogensCount.

In [21]:
try:
    # Test connection
    heteroatoms_result = sql.session.execute(text('SELECT * FROM "heteroAtoms" LIMIT 10')).fetchall()

    print("First 10 heteroatoms:")
    for combination in heteroatoms_result:
        print(f"  - {dict(combination)}")
except Exception as e:
    print(f"Error: {e}")

First 10 heteroatoms:
  - {'id': 1, 'name': '{"N": 2, "O": 5}', 'halogensCount': 0}
  - {'id': 2, 'name': '{"S": 2, "O": 3}', 'halogensCount': 0}
  - {'id': 3, 'name': '{"N": 1, "S": 2, "O": 22}', 'halogensCount': 0}
  - {'id': 4, 'name': '{"N": 4, "O": 1}', 'halogensCount': 0}
  - {'id': 5, 'name': '{"S": 1, "O": 11}', 'halogensCount': 0}
  - {'id': 6, 'name': '{"N": 4, "S": 1, "O": 16}', 'halogensCount': 0}
  - {'id': 7, 'name': '{"N": 4, "O": 20}', 'halogensCount': 0}
  - {'id': 8, 'name': '{"N": 3, "S": 2, "O": 17}', 'halogensCount': 0}
  - {'id': 9, 'name': '{"N": 1, "S": 1, "O": 8}', 'halogensCount': 0}
  - {'id': 10, 'name': '{"N": 2, "O": 30}', 'halogensCount': 0}

Each table can be searched by the id column.

In [26]:
id = 1
try:
    # Test connection
    CH_id_result = sql.session.execute(
        text('SELECT * FROM "carbonHydrogen" WHERE id = :id'), {"id": id}
    ).fetchone()

    print(f"\nCarbon-hydrogen combination with ID {id}:")
    print(f"  - {dict(CH_id_result)}")
   
except Exception as e:
    print(f"Error: {e}")

Carbon-hydrogen combination with ID 1:
  - {'id': 1, 'C': 1, 'H': 4}

In [27]:
id = 200
try:
    # Test connection
    heteroatoms_id_result = sql.session.execute(
        text('SELECT * FROM "heteroAtoms" WHERE id = :id'), {"id": id}
    ).fetchone()

    print(f"\nHeteroatom group with ID {id}:")
    print(f"  - {dict(heteroatoms_id_result)}")
   
except Exception as e:
    print(f"Error: {e}")

Heteroatom group with ID 200:
  - {'id': 200, 'name': '{"N": 1, "S": 2, "O": 9}', 'halogensCount': 0}

The `molecularformula` table can also be searched by mass.

In [24]:
try:
    min_result = sql.session.execute(
        text("SELECT * FROM molecularformula ORDER BY mass LIMIT 1")
    ).first()
    print(f"\nLowest mass compound: {dict(min_result)}")
    print(f"Lowest mass: {min_result.mass}")
   
except Exception as e:
    print(f"Error: {e}")

Lowest mass compound: {'heteroAtoms_id': 302, 'carbonHydrogen_id': 399, 'mass': 56.026214748490005, 'DBE': 2.0}
Lowest mass: 56.026214748490005

In [25]:
try:
    max_result = sql.session.execute(
        text("SELECT * FROM molecularformula ORDER BY mass DESC LIMIT 1")
    ).first()
    print(f"\nHighest mass compound: {dict(max_result)}")
    print(f"Highest mass: {max_result.mass}")
   
except Exception as e:
    print(f"Error: {e}")

Highest mass compound: {'heteroAtoms_id': 442, 'carbonHydrogen_id': 19437, 'mass': 1499.9999668754501, 'DBE': 32.0}
Highest mass: 1499.9999668754501

CoreMS computes most other items as needed.  If additional elements are added, CoreMS adds them to the database incrementally.  If you don't want to include certain elements in the search, don't add them to the search settings, or set the elements' range to (0,0).

The database connection should be closed when querying is complete.

In [ ]:
sql.close()